@import "reset.scss";

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: #3863D9;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.c-input:not([type="checkbox"]) {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #3863D9;
	padding: 0.65rem 0.5rem;
	border: 2px solid #c6c6c6;
	border-radius: 4px;
}

.c-label {
	display: block;
	margin-bottom: 0.5rem;
}

form {
	> p {
		margin-bottom: 1.5rem;
	}
}

.c-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	color: #fff;
	background: #3863d9;
	padding: 1rem;
	box-shadow: 0 3px 30px 0 rgba(#000, 0.4);

	a {
		color: inherit;
	}
}

.c-page-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.wrapper {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 360px 1fr;
}

.o-grid--2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.c-sidebar {
	background: #ebebeb;
	padding: 1rem;
}

.c-main {
	padding: 1rem;
	color: #fff;
	background: #3b3b3b;
}

.js-grid {
	width: 100%;
	max-width: 900px;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	//grid-gap: 1rem;
}

.js-grid-item {
	background: rgba(#fff, 0.06);
	border: 2px dashed #707070;
	min-height: 160px;
}